@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color: #383838;
  color: #ffffff;
}


html {
--scroll-behavior: smooth!important;
scroll-behavior: smooth!important;
}